body {
    font-family: "Open Sans";
    color: #333;
}

.page_header {
    padding-left: 20px;
}

.page_header .brand {
    display: inline-block;
}

.page_header .menu {
    list-style-type: none;
    display: inline-block;
}

.page_header .menu li {
    display: inline-block;
    margin: 10px;
    font-size: 13px;
    padding: 5px 10px;
}

.page_header .menu li.active {
    background: #f6f6f6;
    border: solid 1px #ccc;
    border-radius: 3px;
}

.page_header .menu li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.big_dialog {
    border: solid 1px #aaa;
    border-radius: 0 3px 3px 0;
    height: calc(100% - 100px);
    overflow: hidden;
}

.big_dialog .header {
    overflow: hidden;
    padding: 10px 10px 10px 20px;
    background: #fff;
    color: #333;
    border-radius: 3px 3px 0 0;
    font-size: 18px;
}

.edit_title {
    font-size: 13px;
    color: #ddd;
    cursor: pointer;
}

.edit_title:hover {
    color: #888;
}

.big_dialog .body {
    padding: 15px;
    position: relative;
    height: calc(100% - 60px);
    background: #fff;
}

.proj_container .body .no_projects {
    text-align: center;
    font-size: 13px;
}

.proj_container table {
    width: 100%;
    font-size: 13px;
}

.projects tr:hover {
    background: #f6f6f6;
}

.projects td {
    /*padding: 10px;*/
}

.proj_container .project_name a {
    text-decoration: none;
    font-size: 14px;
}

.proj_container .project_name a:hover {
    text-decoration: underline;
}

button {
    background: #f6f6f6;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 5px 10px;
    /*float: right;*/
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}

.running_projects {
    list-style-type: none;
    padding: 0;
}

.running_projects li {
    margin-bottom: 8px;
}

.running_projects .project_name {
    top: 2px;
    left: 30px;
}

.running_projects li:hover .project_name {
    text-decoration: underline;
    color: #48ADE0;
    cursor: pointer;
}

.running_projects .label:hover {
    cursor: pointer;
}

.green.orb {
    background: #bfd255; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
}

textarea {
    border: solid 1px #ccc;
    padding-left: 3px;
}

.cmd {
    font-size: 13px;
    font-style: italic;
    background: #f6f6f6;
    display: block;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 30px;
    text-align: center;
}

.code_area {
    height: 100%;
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 3px;
    font-family: courier;
    font-size: 11px;
    outline: none;
    background: #fafafa;
}


/********/
.modal_backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    width: 100%;
    opacity: 0.65;
}

.modal {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 30px #444;
    z-index: 10000;
}

.modal.small {
    width: 400px;
    height: 300px;
}

.modal.medium {
    width: 600px;
    height: 300px;
}

.modal.large {
    width: 800px;
    height: 500px;
}

.modal.xlarge {
    width: 980px;
    height: 500px;
}

.modal.xxlarge {
    width: 90%;
    height: 90%;
}

.modal .header {
    height: 30px;
    width: 100%;
    padding: 10px;
    border-bottom: solid 1px silver;
    line-height: 30px;

    border-radius: 5px 5px 0 0;

    background: rgb(222,222,222); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(203,203,203,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,222,222,1)), color-stop(100%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(222,222,222,1) 0%,rgba(203,203,203,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(222,222,222,1) 0%,rgba(203,203,203,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(222,222,222,1) 0%,rgba(203,203,203,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(222,222,222,1) 0%,rgba(203,203,203,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
}

.modal .body {
    background: #fff;
    padding: 10px;
    position: absolute;
    top: 51px;
    bottom: 51px;
    width: 100%;
    overflow: auto;
}

.modal .footer {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    border-top: solid 1px silver;
    border-radius: 0 0 5px 5px;

    background: rgb(222,222,222); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(203,203,203,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,222,222,1)), color-stop(100%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(222,222,222,1) 0%,rgba(203,203,203,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(222,222,222,1) 0%,rgba(203,203,203,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(222,222,222,1) 0%,rgba(203,203,203,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(222,222,222,1) 0%,rgba(203,203,203,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
}


/*******/
#modal_new_project .desc_container {
    height: 75%;
    margin-top: 10px;
}

#modal_new_project input[type='text'] {
    width: 100%;
    outline: none;
}

#modal_new_project .desc_container textarea {
    width: 100%;
    height: 100%;
    outline: none;
}

.sidebar {
    height: 100%;
    border-right: solid 1px #aaa;
    background: #fafafa;
}

.sidebar_right {
    height: 100%;
    border: solid 1px #ccc;
    background: #fafafa;
}

.stdout .label {
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
}

.stdout .label_completed {
    color: rgb(74, 146, 74);
}

.stdout .label_aborted {
    color: rgb(229, 62, 62);
}

.stdout .label_running {
    color: rgb(214, 140, 3);
}

.hide {
    display: none;
}

.chain_dropdown {
    border: solid 1px #ccc;
    background: #fff;
    width: 100%;
    height: 27px;
    color: #444;
    font-size: 13px;
}

.error_msg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(252, 252, 169);
    width: 50%;
    margin: 0 auto;
    height: 30px;
    color: #666;
    padding: 5px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border: solid 1px yellow;
    box-shadow: 0 2px 6px #ccc;
    opacity: 0.9;
}

.output_console {
    border: solid 1px #ccc;
    height: 100%;
    margin-top: 5px;
    background: #fcfcfc;
    overflow: auto;
}

.output_console ul {
    list-style-type: none;
    padding: 0;
    font-family: courier;
    font-size: 11px;
    padding: 10px;
}

input.project_name {
    height: 35px;
    padding-left: 10px;
    width: 400px;
}

.sidebar_right .header {
    margin-top: 5px;
    margin-bottom: 5px;
}

.crontab {
    overflow: hidden;
}
.asterisk_label_container {
    background: #fafafa;
    border-right: solid 1px #ccc;
    height: 100%;
    padding: 0 !important;
}

.asterisk_label {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.asterisk_label li {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.asterisk_label li:hover {
    background: #f0f0f0;
    cursor: pointer;
}
.asterisk_label li.active {
    font-weight: bold;
    background: white;
    width: 100%;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin-left: 1px;
}

.cron_big {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #666;
}

.crontb {
    text-align: center;
    outline: none;
    padding: 2px 0 2px 0 !important;
    font-size: 15px;
}

.schedule_switch {
    font-size: 11px;
    font-weight: 400;
    color: #666;
    position: relative;
}

.schedule_switch span {
    top: -2px;
    position: relative;
}

.log_container {
    position: relative;
    overflow: auto;
}

.no_logs {
    position: absolute;
    top: 33%;
    bottom: 0;
    height: 30px;
    width: 97%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: #999;
}

.nav.navbar-nav .active a {
    border-bottom: solid 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

#modal_login_register {
    position: fixed;
    display: inline-block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 330px;
    width: 600px;
}

#modal_login_register .modal-content, #modal_admin_account .modal-content {
    box-shadow: none;
}

.signin_error, .vk_error {
    font-size: 11px;
    color: #aa0000;
}

.signup_success, .save_success {
    font-size: 13px;
    color: #4CA04C;
    font-weight: bold;
}

.signup_success i {
    margin-right: 5px;
}

.user_list_container {
    height: calc(100% - 60px);
}

.user_list {
    height: 100%;
    border: solid 1px #ddd;
    padding: 0;
    border-radius: 5px;
    overflow: auto;
    background: #fdfdfd;
}

.user_list li {
    padding: 5px 10px;
    color: #555;
    margin-bottom: 8px;
    border-bottom: solid 1px #ddd;
    cursor: pointer;
}

.user_group_map .user_list {
    padding: 0;
    list-style-type: none;
}

.user_group_map .user_list li {
    padding: 5px 10px;
    background: #fafafa;
    border: solid 1px #eee;
    color: #333;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 0px;
}

.user_selected {
    font-weight: bold;
    background: #eee !important;
}

.project_dd {
    background: #fff;
    font-size: 12px;
    height: 25px;
    min-width: 150px;
    border-radius: 3px;
}

.username {
    position: relative;
}

.user_menu {
    list-style-type: none;
    padding: 10px;
    border: solid 1px #428bca;
    position: absolute;
    top: 35px;
    left: 15px;
    border-radius: 5px;
    width: 150px;
    display: none;
    background: #fff;
    z-index: 100;
}

.username:hover {
    font-weight: bold;
}

.username:hover .user_menu {
    display: block;
    font-weight: 400;
    box-shadow: 0 0 2px #428bca;
}