<html ng-app="VishwakarmaModule">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/vishwakarma.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="javascripts/lib/angular.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <title>Vishwakarma Build System</title>
</head>
<body ng-controller="VKController" class="container">

<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="javascript:void(0);" class="navbar-brand">Vishwakarma</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <!-- <li ng-class="{active: active_screen == 'view_projects'}" ng-click="active_screen = 'view_projects'"><a href="javascript:void(0);">All Projects</a></li> -->
      </ul>
    </nav>
  </div>
</header>

<div class="error_msg" ng-show="show_error">
    {{error_msg}} <a href="javascript:void(0);">Reload</a>
</div>

<div class="row big_dialog proj_container" ng-show="active_screen == 'view_projects'">
    <div class="col-xs-3 sidebar">
        <div style="font-size: 18px; padding: 10px;">
            Running Projects
        </div>

        <div>
            <div style="font-size: 12px; padding-left: 10px;" ng-show="has_running_projects()">
                You have no running projects
            </div>
            <ul class="running_projects">
                <li ng-repeat="(key, active_proj) in running_projects" ng-click="show_stdout(active_proj)">
                    <img src="/images/loader_circle.gif" ng-show="active_proj.status == STATUS.running">
                    <i class="fa fa-check" ng-show="active_proj.status == STATUS.completed"></i>
                    <span class="project_name">{{active_proj.name}}</span> <span>

                    <span class="label label-danger pull-right" ng-show="active_proj.status == STATUS.running">abort</span>
                    <span class="label label-default pull-right" ng-show="active_proj.status == STATUS.completed">remove</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-9">
        <div class="header row">
            Projects

            <button class="btn btn-success pull-right" ng-click="init_new_project()">New Project</button>
        </div>

        <div class="body row">

            <div class="no_projects" ng-show="projects.length == 0">
                You have no projects
            </div>

            <table class="projects table">
                <tr ng-repeat="(key, project) in projects">
                    <td class="project_name"><a href="javascript: void(0);" ng-click="get_project(project._id)">{{project.name}}</a></td>
                    <td>{{project.desc}}</td>
                    <td>
                        <button ng-click="run_cmd(project._id)" class="btn btn-default pull-right" ng-hide="has_proj_run(project.name)">Run</button>

                        <button class="btn btn-danger pull-right" ng-show="get_proj_status(project.name) == STATUS.running">Abort</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="big_dialog new_project row" ng-show="active_screen == 'edit_project'">
    <div class="col-xs-12">
        <div class="header">
            <span ng-show="cur_project._id != null && !edit_proj_title">{{cur_project.name}} <i class="fa fa-pencil edit_title" ng-click="edit_proj_title = true"></i></span>
            <span ng-show="cur_project._id == null || edit_proj_title"><input type="text" ng-model="cur_project.name"></span>

            <div class="pull-right">
                <button class="btn btn-default" ng-click="active_screen = 'view_projects'">Cancel</button>
                <button class="btn btn-primary" ng-click="save_project()">Save</button>
            </div>
        </div>

        <div class="body row">
            <div class="col-xs-9">
                <textarea class="code_area" ng-model="cur_project.code"></textarea>
            </div>

            <div class="col-xs-3 sidebar_right">
                <div>
                    <div class="header row">Chain projects</div>
                    <div>
                        <div style="font-size: 12px;">On success, execute this project</div>
                        <div><select ng-options="project.name as project.name for (key, project) in projects" ng-model="cur_project.chained" class="chain_dropdown"></select></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="big_dialog stdout row" ng-show="active_screen == 'stdout'">
    <div class="col-xs-12">
        <div class="header row">
            Output for Project: {{stdout_proj.name}}
            <span class="label label_completed" ng-show="stdout_proj.status == 'completed'">completed</span>
            <span class="label label_running" ng-show="stdout_proj.status == 'running'">running <img src="/images/loader_circle.gif"></span>

            <button class="btn btn-danger pull-right" ng-click="active_screen = 'view_projects'">Close</button>
        </div>

        <div class="output_console">
            <ul>
                <li ng-repeat="(key, each_line) in stdout_proj.stdout track by $index">{{each_line}}</li>
            </ul>
        </div>
    </div>
</div>


<div class="modal_backdrop" ng-show="active_modal != ''"></div>

<div class="modal small" id="modal_new_project" ng-show="active_modal == 'modal_new_project'">
    <div class="header">
        <label class="large">Create New Project</label>
    </div>

    <div class="body">
        <form name="FormNewProject">
            <div>
                <input type="text" ng-model="cur_project.name" placeholder="Name of the project" required>
            </div>

            <div class="desc_container">
                <textarea type="text" ng-model="cur_project.desc" placeholder="Description"></textarea>
            </div>
        </form>

    </div>
    <div class="footer">
        <div style="position: absolute; right: 20px">
            <button ng-click="cancel_new_project()">Cancel</button>
            <button class="green" ng-disabled="FormNewProject.$invalid" ng-click="hide_modal()">OK</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="javascripts/vishwakarma.js"></script>

<script src="javascripts/socket.io.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

</body>
</html>