<html ng-app="VishwakarmaModule">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/vishwakarma.css">
    <script type="text/javascript" src="javascripts/lib/angular.min.js"></script>
    <title>Vishwakarma Build System</title>
</head>
<body ng-controller="VKController">

<div class="page_header">
    <h2 class="brand">Vishwakarma</h2>

    <ul class="menu">
        <li ng-class="{active: active_screen == 'view_projects'}" ng-click="active_screen = 'view_projects'">All Projects</li>
        <li>Running Projects</li>
    </ul>
</div>

<div class="big_dialog proj_container" ng-show="active_screen == 'view_projects'">
    <div class="header">
        Projects

        <button class="green" ng-click="init_new_project()">Add</button>
    </div>

    <div class="body">

        <div class="no_projects" ng-show="projects.length == 0">
            You have no projects
        </div>

        <table>
            <tr ng-repeat="(key, project) in projects">
                <td class="project_name"><a href="javascript: void(0);" ng-click="get_project(project._id)">{{project.name}}</a></td>
                <td class="cmd">{{project.desc}}</td>
                <td><button ng-click="run_cmd(project._id)">Run</button></td>
                <td><button ng-click="kill(project._id)">kill</button></td>
            </tr>
        </table>

    </div>
</div>

<div class="big_dialog new_project" ng-show="active_screen == 'edit_project'">
    <div class="header">
        {{cur_project.name}} <i class="fa fa-pencil edit_title"></i>

        <button class="green" ng-click="save_project()">Save</button>
        <button ng-click="active_screen = 'view_projects'">Cancel</button>
    </div>

    <div class="body">
        <textarea class="code_area" ng-model="cur_project.code"></textarea>
    </div>

</div>

<div>
    <ul>
        <li ng-repeat="(key, each_line) in stdout">{{each_line}}</li>
    </ul>

</div>


<div class="modal_backdrop" ng-show="active_modal != ''"></div>

<div class="modal small" id="modal_new_project" ng-show="active_modal == 'modal_new_project'">
    <div class="header">
        <label class="large">Create New Project</label>
    </div>

    <div class="body">
        <form name="FormNewProject">
            <div>
                <input type="text" ng-model="cur_project.name" placeholder="Name of the project" required>
            </div>

            <div class="desc_container">
                <textarea type="text" ng-model="cur_project.desc" placeholder="Description"></textarea>
            </div>
        </form>

    </div>
    <div class="footer">
        <div style="position: absolute; right: 20px">
            <button ng-click="cancel_new_project()">Cancel</button>
            <button class="green" ng-disabled="FormNewProject.$invalid" ng-click="hide_modal()">OK</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="javascripts/vishwakarma.js"></script>

<script src="javascripts/socket.io.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

</body>
</html>